<div class="supportmenu">
    <link href="~/Plugins/NopStation.MobileWebApi/Content/styles.css" rel="stylesheet" />
    <div class="content-header clearfix">
        <h1 class="title pull-left">
            @*@T("Plugins.NopStation.MobileWebApi.menu")*@
            BS Mobile WebApi
        </h1>
    </div>
    <ul class="supportmenu_ul">
        @*<a href="/Admin/Widget/ConfigureWidget?systemName=NopStation.MobileWebApi" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.overview")</li>
        </a>*@

        @*<a href="@Url.Action("Generalsetting", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.generalsetting")</li>
        </a>*@

        @*<a href="@Url.Action("Theme", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.themepersonalization")</li>
        </a>*@

        <a href="@Url.Action("BannerSlider", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.bannericon")</li>
        </a>

        @*<a href="@Url.Action("ContentManagement", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.contantmanegement")</li>
        </a>*@

        @*<a href="@Url.Action("PushNotification", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.pushnotification")</li>
        </a>*@

        <a href="@Url.Action("CategoryIcons", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.categoryicon")</li>
        </a>
        @*<a href="@Url.Action("MobileWebSiteSetting", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.mobilewebsitesetting")</li>
        </a>*@

        <a href="@Url.Action("SliderImage", "MobileWebApiConfiguration")" class="menulink">
            <li class="menu_li">@T("Plugins.NopStation.MobileWebApi.sliderImage")</li>
        </a>
    </ul>
</div>